name: Build and publish Docker image

on:
  workflow_dispatch:
  push:
    branches: [dev, main]

env:
  REGISTRY: ghcr.io
  UPPER_IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      image-name: ${{ steps.step1.outputs.IMAGE_NAME }}
    steps:
      - name: Convert image name
        id: step1
        run: |
          echo "Current image name:"
          echo $UPPER_IMAGE_NAME
          echo "IMAGE_NAME=$(echo $UPPER_IMAGE_NAME | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          echo "Converted image name:"
          echo $(echo $UPPER_IMAGE_NAME | tr '[:upper:]' '[:lower:]')
          echo "Step output:"
          echo $GITHUB_OUTPUT

  build:
    runs-on: ${{ matrix.runner }}
    needs: prepare
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: ubicloud-standard-2
          - platform: linux/arm64
            runner: ubicloud-standard-2-arm
    env:
      IMAGE_NAME: ${{ needs.prepare.outputs.image-name }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
          token: ${{ secrets.NEXTJS_LIB_PAT }}

      - name: Prepare
        run: |
          echo "COMMIT_HASH=$(git log --pretty=format:'%h' -n1)" >> $GITHUB_ENV
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}

      #- name: Set up QEMU
      #  uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: COMMIT_HASH=${{ env.COMMIT_HASH }}
          outputs: type=image,"name=${{ env.IMAGE_NAME }}",push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 7

  merge:
    runs-on: ubuntu-latest
    needs:
      - prepare
      - build
    env:
      IMAGE_NAME: ${{ needs.prepare.outputs.image-name }}
      BUILDX_NO_DEFAULT_ATTESTATIONS: 1
    permissions:
      contents: none
      packages: write
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            # for example: develop
            type=ref,event=branch
            # for example: pr-35
            type=ref,event=pr
            # for example: 2.3.4
            #type=semver,pattern={{version}}
            # for example: 2.3
            #type=semver,pattern={{major}}.{{minor}}
            # for example: 2
            #type=semver,pattern={{major}}
            # set 'latest' for new tags
            type=raw,value=latest,enable=${{ startsWith( github.ref, 'refs/tags/' ) }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        run: docker buildx imagetools inspect ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
